:root {
  font-family: monospace;
  --text: #4c4f69;
  --surface1: #bcc0cc;
  --base: #eff1f5;
  --lavender: #7287fd;
  --maroon: #e64553;

  --range-height: 12px;
  --range-accent: var(--lavender);
  --link-accent: var(--lavender);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #cdd6f4;
    --surface1: #45475a;
    --base: #1e1e2e;
    --lavender: #b4befe;
    --maroon: #eba0ac;
    --range-accent: var(--maroon);
    --link-accent: var(--maroon);
  }
}

html,
body {
  width: 100%;
}

body {
  width: calc(100% - 4rem - 2px);
  height: calc(100vh - 6rem - 2px);
  padding: 2rem;
  margin: 0;
  background-color: var(--base);
  overflow: hidden;
}
@media (min-width: 768px) {
  body {
    width: calc(100% - 8rem - 2px);
    height: calc(100vh - 10rem - 2px);
    padding: 4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  color: var(--text);
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem;
}
@media (min-width: 768px) {
  main {
    margin: 4rem;
  }
}

footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  footer {
    padding: 2rem 0;
  }
}

footer > span {
  color: var(--text);
  opacity: 0.5;
}

a {
  color: var(--link-accent);
}

#bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
  border: 2px solid var(--text);
  border-radius: 2px;
}

.header {
  font-weight: 800;
  margin-bottom: 1rem;
}

.cat {
  position: absolute;
  bottom: 0px;
  right: 2rem;
  image-rendering: pixelated;
  height: 30px;
}
@media (min-width: 1024px) {
  .cat {
    right: 4rem;
  }
}

.eeping-cat {
  position: absolute;
  image-rendering: pixelated;
  top: -16px;
  right: 50%;
  height: 15px;
}

@media (min-width: 768px) {
  main {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  main {
    width: 50%;
  }
}

.button-container {
  margin-top: 2rem;
  display: flex;
}

.volume-slider-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.volume-slider-container > output {
  color: var(--text);
  margin-right: 1rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    height: var(--range-height);
    -webkit-appearance: none;
    border: 2px solid var(--text);
    background-color: var(--base);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: var(--range-height);
    -webkit-appearance: none;
    color: #13bba4;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: var(--range-height);
    height: var(--range-height);
    -webkit-appearance: none;
    background: var(--text);
    box-shadow: -80px 0 0 80px var(--range-accent);
  }
}

input[type="range"]::-moz-range-progress {
  border: none;
  height: var(--range-height);
  background-color: var(--range-accent);
}

input[type="range"]::-moz-range-track {
  border: none;
  background-color: var(--base);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: none;
  border-radius: 0;
  width: var(--range-height);
  height: var(--range-height);
  background-color: var(--text);
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--range-accent);
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--base);
}

.button {
  border: 2px solid var(--text);
  background: var(--base);
  position: relative;
  font-family: monospace;
  font-weight: 800;
  padding: 0.5rem 1rem;
  color: var(--text);
}

.button:hover {
  background-color: var(--surface1);
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--surface1) 0,
    var(--surface1) 1px,
    var(--base) 0,
    var(--base) 50%
  );
}

@media (prefers-color-scheme: dark) {
  .button:hover {
    background-color: #1e1e2e;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(
      45deg,
      #585b70 0,
      #585b70 1px,
      #1e1e2e 0,
      #1e1e2e 50%
    );
  }
}

.button.button-active,
.button:active {
  background: var(--text) !important;
  color: var(--base);
  transform: translate(4px, 4px);
}

.button.button-active::after,
.button:active::after {
  content: none;
}

.button:after {
  display: block;
  position: absolute;
  margin: -2px;
  width: inherit;
  top: 1px;
  left: 1px;
  right: -1px;
  bottom: -1px;
  padding: 0.5rem 1rem;
  content: "";
  background-color: var(--text);
  z-index: -1;
  transform: translate(2px, 2px);
}

@media (prefers-color-scheme: dark) {
  .button:after {
    opacity: 0.5;
  }
}
